<div class="row">
  
  <!-- 左カラム -->
  <div class="col-xs-3">
    <%= render 'books/left_side', user: @user, book: @book %>
  </div>
  <!-- 左カラム終了 -->
  
  <!-- 右カラム -->
  <div class="col-xs-9">
      <h2>Users</h2>
      <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40' %></td>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <!-- 右カラム終了 -->
</div>